<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{admin/base.html}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">Admin | Tạo Người dùng</title>
    <style>
        label {
            font-weight: bold;
        }
    </style>
</head>

<div class="container-xxl mt-3" layout:fragment="admin-main-content">
    <a th:href="@{/admin/user}" class="btn btn-secondary mb-lg-3">
        <svg class="bi me-2">
            <use th:xlink:href="@{/bootstrap/arrow-90deg-left.svg}"></use>
        </svg>
        Trở về danh sách
    </a>
    <h1 class="fw-bold me-auto text-uppercase mb-lg-3">Tạo Người dùng</h1>
    <hr class="mt-1">
    <form method="post" class="row g-md-3" th:object="${newUser}" th:action="@{/admin/user/create}">
        <div class="col-12 col-sm-4 mb-3">
            <label for="username" class="form-label">Tên tài khoản</label>
            <input class="form-control" th:field="*{username}" id="username" placeholder="Tên đăng nhập" required>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <label for="fullName" class="form-label">Họ và tên</label>
            <input class="form-control" th:field="*{fullName}" id="fullName" placeholder="Họ và tên">
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <label for="phoneNumber" class="form-label">Số điện thoại</label>
            <input class="form-control" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Số điện thoại">
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" th:field="*{email}" id="email" placeholder="email">
        </div>
        <div class="col-12 col-sm-3 mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input class="form-control" th:field="*{password}" id="password" placeholder="Mật khẩu">
        </div>
        <div class="col-12 col-sm-2 mb-3">
            <label for="selectRole" class="form-label">Vai trò</label>
            <select class="form-select" th:field="*{roles.id}" id="selectRole" required>
                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleName}"></option>
            </select>
        </div>

        <div class="col-12 col-sm-3 mb-3 align-self-end">
            <button type="submit" class="btn btn-primary ">Xác nhận</button>
        </div>
    </form>


    <div class="mt-5" id="RoleManage">
        <h1 class="fw-bold text-uppercase ">Vai trò - người dùng</h1>
        <hr class="mt-1">
        <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#createRoleModal">
            <svg class="bi">
                <use th:xlink:href="@{/bootstrap/plus-lg.svg}"></use>
            </svg>
            Thêm vai trò
        </button>
        <table class="table table-hover" style="min-width: 50em;">
            <thead>
                <tr>
                    <th scope="col">Mã vai trò</th>
                    <th scope="col">Vai trò</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Hoạt động</th>
                </tr>
            </thead>
            <tbody th:each="role : ${roles}">
                <tr class="lh-lg">
                    <th scope="row" th:text="${role.id}"></th>
                    <td th:text="${role.roleName}"></td>
                    <td th:text="${role.description}"></td>
                    <td>
                        <a th:href="@{./role/update/{id}(id=${role.id})}" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#updateRoleModal" id="updateBtn">Sửa</a>
                        <a th:attr="onclick=|handleDeleteBtn('${role.id}')|" id="deleteBtn" class="btn btn-danger"
                            data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="createRoleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <form class="modal-dialog modal-dialog-centered" method="post" th:action="@{/admin/user/role/create}"
                th:object="${newRole}">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fw-bold fs-5" id="exampleModalLabel">Tạo vai trò người dùng</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nhận diện vai trò</label>
                            <input class="form-control" placeholder="Tên vai trò" th:field="*{roleName}" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mô tả vai trò</label>
                            <input class="form-control" th:field="*{description}" placeholder="Mô tả">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary" id="createRoleBtn" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Tạo</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="updateRoleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fw-bold fs-5" id="exampleModalLabel">Sửa vai trò người dùng</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="row g-md-3" id="create-role">
                            <div class="mb-3">
                                <label for="username" class="form-label">Nhận diện vai trò</label>
                                <input class="form-control" id="rolename" placeholder="Tên vai trò" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mô tả vai trò</label>
                                <input class="form-control" id="summar-role" placeholder="Mô tả">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary">Cập nhật </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận xóa</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc chắn xóa role này chứ</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="" id="submitDeleteRole" class="btn btn-primary">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<script layout:fragment="script-block">
    document.querySelectorAll("#updateBtn").forEach(el => {
        el.addEventListener("click", (e) => {
            var id = $(e.target).parent().prevAll("th").get()[0].innerText;

            $.ajax({
                url: '/admin/user/role/' + id,
                type: 'GET',
                success: function (response) {
                    $("#rolename").val(response.roleName);
                    $("#summar-role").val(response.description);
                    // console.log('Success:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', status, error);
                }
            });
        })
    });

    function deleteRole(id) {
        $.ajax({
            url: '/admin/user/role/delete/' + id,
            type: 'POST',
            success: function (response) {
                console.log('Success:', response);
            },
            error: function (xhr, status, error) {
                console.error('Error:', status, error);
            }
        });
    }


    function handleDeleteBtn(id) {
        console.log(id);
        $("#submitDeleteRole").on("click", () => {
            $.ajax({
                url: '/admin/user/role/delete/' + id,
                type: 'POST',
                success: function (response) {
                    window.location.reload();
                    console.log('Success:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', status, error);
                }
            });
        });
    }

</script>

</html>