<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{admin/base.html}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">Admin | Người dùng</title>
</head>

<div class="container-xxl" layout:fragment="admin-main-content">
    <br>
    <h2 class="me-auto fw-bold text-uppercase">Quản lý người dùng</h2>
    <div class="d-flex">
        <h4 class="me-auto"><b>Tổng</b>: <span th:text="${users.size()}"></span></h4>
        <a th:href="@{/admin/user/create}" class="btn btn-primary">
            <svg class="bi me-1">
                <use th:xlink:href="@{/bootstrap/plus-lg.svg}"></use>
            </svg> Tạo mới</a>
    </div>

    <div class="mt-5 overflow-x-auto">
        <table class="table table-hover" style="min-width: 50em ;">
            <thead>
                <tr>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Hoạt động</th>
                </tr>
            </thead>
            <tbody th:each="user : ${users}">
                <tr class="lh-lg">
                    <th scope="row" th:text="${user.username}"></th>
                    <td th:text="${user.fullName}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td>
                        <a th:href="@{./user/update/{id}(id=${user.id})}" class="btn btn-warning">Xem & Sửa</a>
                        <a th:href="@{./user/delete/{id}(id=${user.id})}" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</html>