<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{shared/_layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">Admin</title>
    <style>
        ul.list-unstyled>li.nav-item {
            border-radius: 10px;
            transition: all .3s ease;
        }

        ul.list-unstyled a.nav-link {
            width: 100%;
            padding: 1em;
        }

        ul.list-unstyled>li.nav-item:hover {
            transition: all .3s ease;
            background-color: var(--bs-secondary-bg);
        }

        ul.list-unstyled .bi {
            margin-right: 10px;
        }
    </style>
</head>

<div class="bd-gutter bd-layout h-100" style="grid-template-columns: 1fr 7fr;" layout:fragment="content-block">
    <aside class="bg-light shadow" style="min-width: calc(15rem - 30px);" layout:fragment="aside">
        <div class="offcanvas-lg offcanvas-start bg-body-tertiary" tabindex="-1" id="bdSidebar"
            aria-labelledby="bdSidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Chuyển Hướng</h5> <button type="button"
                    class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                    data-bs-target="#bdSidebar"></button>
            </div>
            <div class="offcanvas-body ">
                <nav class="bd-links w-100" id="bd-docs-nav" aria-label="Docs navigation">
                    <ul class="bd-links-nav list-unstyled mb-0 ">
                        <li class="bd-links-group">
                            <ul class="list-unstyled">
                                <li class="nav-item">
                                    <a th:href="@{/admin}" class="nav-link d-inline-block rounded">
                                        <svg class="bi" width="16" height="16" fill="currentColor">
                                            <use th:xlink:href="@{/bootstrap/grid-fill.svg}" />
                                        </svg>
                                        Bảng điều hướng
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin}" class="nav-link d-inline-block rounded">
                                        <svg class="bi" width="16" height="16" fill="currentColor">
                                            <use th:xlink:href="@{/bootstrap/house-add-fill.svg}" />
                                        </svg>
                                        Phòng Trọ
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin}" class="nav-link d-inline-block rounded">
                                        <svg class="bi" width="16" height="16" fill="currentColor">
                                            <use th:xlink:href="@{/bootstrap/chat-right-text-fill.svg}" />
                                        </svg>
                                        Đánh Giá </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/user}" class="nav-link d-inline-block rounded">
                                        <svg class="bi" width="16" height="16" fill="currentColor">
                                            <use th:xlink:href="@{/bootstrap/people-fill.svg}" />
                                        </svg>
                                        Người dùng </a>
                                </li>
                                <!-- <li>
                                <a th:href="@{/admin}" class="nav-link d-inline-block rounded">
                                    Contribute </a>
                            </li> -->
                            </ul>
                        </li>
                        <!-- <li class="bd-links-span-all mt-1 mb-3 mx-4 border-top"></li> -->
                        <!-- <li class="bd-links-span-all"> <a href="/docs/5.3/migration/"
                            class="nav-link d-inline-block rounded small"> Migration </a> </li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </aside>

    <main layout:fragment="content" class="">
        <div class="container-fluid" layout:fragment="admin-main-content"></div>
    </main>
</div>



<footer layout:fragment="footer"></footer>

</html>