<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{admin/base.html}">

<head>
	<title layout:title-pattern="$CONTENT_TITLE">Admin</title>
</head>

<div class="container-xxl" layout:fragment="admin-main-content">
	<h1 class="mb-5">Dashboard</h1>
	<div class="row g-3 row-cols-md-3 card-group">
		<div class="col-md-6 col-lg-4 col-sm-12">
			<div class="card border-0 p-0 shadow h-100">
				<div class="card-body ">
					<h5 class="card-title fw-bold text-uppercase">Phòng trọ</span></h5>
					<p class="card-text mb-sm-2">Phòng trống: <span th:text="${availableRoomCount}"></span></p>
					<p class="card-text mb-sm-2">Phòng đã thuê: <span th:text="${rentedRoomCount}"></span></p>
					<p>Đang sửa chữa: <span th:text="${repairRoomCount}"></span></p>
					<!-- <a href="#" class="btn btn-primary">Chỉnh sửa</a> -->
					<strong>Tổng: <span th:text="${roomCount}"></span></strong>
				</div>
				<div class="card-footer d-flex">
					<a href="#" class="btn btn-primary ms-auto">Xem chi tiết</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-sm-12">
			<div class="card border-0 p-0 shadow h-100">
				<div class="card-body">
					<h5 class="card-title fw-bold text-uppercase">doanh thu mỗi tháng</h5>
					<p class="card-text mb-sm-2">Phòng trống: </p>
					<p class="card-text">Phòng đã thuê: </p>
				</div>
				<div class="card-footer d-flex">
					<a th:href="@{/admin/room}" class="btn btn-primary ms-auto">Xem chi tiết</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-sm-12">
			<div class="card border-0 p-0 shadow h-100">
				<div class="card-body ">
					<h5 class="card-title fw-bold text-uppercase">Doanh thu tháng trước</h5>

					<p class="card-text mb-sm-2">Số phòng đã thanh toán:</p>
					<p class="card-text">Tổng số tiền:</p>
				</div>
				<div class="card-footer d-flex">
					<a href="#" class="btn btn-primary ms-auto">Xem chi tiết</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-4 col-sm-12">
			<div class="card border-0 p-0 shadow h-100">
				<div class="card-body ">
					<h5 class="card-title fw-bold text-uppercase">Lượt đánh giá</h5>

					<p class="card-text mb-sm-2">Phản hồi tốt:</p>
					<p class="card-text">Phản hồi tiêu cực:</p>
				</div>
				<div class="card-footer d-flex">
					<a href="#" class="btn btn-primary ms-auto">Xem chi tiết</a>
				</div>
			</div>
		</div>
	</div>
</div>

</html>