<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{admin/base.html}">

<head>
	<title layout:title-pattern="$CONTENT_TITLE">Admin</title>
</head>

<div class="container-fluid" layout:fragment="admin-main-content">
	<h1>Content</h1>
	<div class="row g-3">
		<div class="col-md-4 bg- col-12 col-sm-6">
			<div class="card border-0 p-0 shadow-lg">
				<div class="card-body ">
					<h5 class="card-title fw-bold text-uppercase">Phòng trọ</h5>
					<p class="card-text mb-sm-2">Phòng trống: </p>
					<p class="card-text">Phòng đã thuê: </p>
					<a href="#" class="btn btn-primary">Chỉnh sửa</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-12 col-sm-6">
			<div class="card border-0 p-0 shadow-lg">
				<div class="card-body">
					<h5 class="card-title fw-bold text-uppercase">Phòng trọ</h5>
					<p class="card-text mb-sm-2">Phòng trống: </p>
					<p class="card-text">Phòng đã thuê: </p>
					<a href="#" class="btn btn-primary">Chỉnh sửa</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-12 col-sm-6">
			<div class="card border-0 p-0 shadow-lg">
				<div class="card-body ">
					<h5 class="card-title fw-bold text-uppercase">Phòng trọ</h5>
					<p class="card-text mb-sm-2">Phòng trống: </p>
					<p class="card-text">Phòng đã thuê: </p>
					<a href="#" class="btn btn-primary">Chỉnh sửa</a>
				</div>
			</div>
		</div>

	</div>
</div>

</html>