<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{shared/_layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">Thuê Phòng</title>

</head>

<main layout:fragment="main-block" class="container">
    <h1 class="text-uppercase fw-bold mb-3">Thuê phòng</h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
            style="max-width: 35em;" />
        <button class="btn btn-outline-success" type="submit">
            <svg class="bi">
                <use th:xlink:href="@{/bootstrap/search.svg}"></use>
            </svg>
        </button>
    </form>

    <div class="mt-3 row g-3">
        <div class="col-md-6 col-sm-12" th:each="room : ${rooms}">
            <div class="row g-0 bg-body-tertiary position-relative rounded-3 h-100 shadow">
                <div class="col-md-6 mb-md-0 p-md-4 align-content-center">
                    <img th:src="@{/upload/{url}(url=${(not #sets.isEmpty(room.getRoomDetails())) ? room.getRoomDetails().iterator().next().getImageURL() : 'Không có URL'})}"
                        class="w-100 rounded-3" th:unless="${#sets.isEmpty(room.getRoomDetails())}">
                    <img th:src="@{images/background/updating.png}" class="w-100 rounded-3"
                        th:if="${#sets.isEmpty(room.getRoomDetails())}">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0 fw-bolder mb-3" th:text="${room.roomType}"></h5>
                    <h6 class="fw-bold text-success mb-5"
                        th:text="${#numbers.formatInteger(room.rentPrice, 0, 'POINT') + ' VNĐ'}">
                    </h6>
                    <a th:href="@{https://zalo.me/{phone}(phone=${contractPhone})}"
                        class="btn btn-outline-primary fw-bold">
                        <img th:src="@{/images/icons/Icon_of_Zalo.webp}" width="20" class="me-2">
                        Zalo
                    </a>
                    <a th:href="@{rent-room/view/{id}(id=${room.id})}" class="btn btn-warning">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

    <div id="pagination" class="mt-5" th:if="${rooms.totalPages > 0}">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${rooms.hasPrevious()} ? '' : 'disabled'"><a class="page-link"
                        href="#">Lùi</a></li>

                <a class="page-link" th:href="@{/rent-room}" th:text="${1}"> </a>

                <li class="page-item" th:each="i : ${#numbers.sequence(1, rooms.totalPages-1)}"
                    th:if="${rooms.totalPages > 1}">
                    <a class="page-link" th:href="@{/rent-room(page=${i+1})}" th:text="${i + 1}">
                    </a>
                </li>

                <!-- <a class="page-link" th:href="@{/rent-room}" th:text="${rooms.totalPages}"
                    th:if="${rooms.totalPages > 1}"> </a> -->

                <li class="page-item" th:classappend="${rooms.hasNext()} ? '' : 'disabled'"><a class="page-link"
                        th:href="@{rent-room(page=${rooms.getNumber() + 1 })}">Tiếp</a></li>
            </ul>
        </nav>
    </div>
</main>

</html>