<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{shared/_layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">Trang chủ</title>
    <style>
        #banner {
            background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(images/background/banner-room.jpg);
            height: 93vh;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<main layout:fragment="main-block">
    <div class="w-100 d-flex align-items-center position-relative mb-5" id="banner">
        <div class="mx-3 mx-lg-auto ">
            <h1 class="fw-bolder text-uppercase"
                style="font-size: 5em; color: #c0a178; font-family: Arial, Helvetica, sans-serif;">
                Xin Chào
            </h1>
            <h4 class="text-light fw-bolder text-capitalize" style="font-size: 2em;">Chào mừng đến với website thuê
                phòng trọ</h4>
        </div>

        <div class="position-relative rounded-circle d-none d-xl-block" style="background-color: rgb(131, 79, 44); right: 150px;  
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;">
            <img th:src="@{images/background/house3d.webp}" class="bg-transparent" data-aos="zoom-in" width="700">
        </div>
    </div>

    <br>

    <div class="container-lg my-5">
        <div id="rented-room">
            <div class="title d-md-flex d-sm-grid">
                <h1 class="text-uppercase fw-bolder me-auto">Thuê Phòng</h1>
                <a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);"
                    href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16" aria-hidden="true">
                        <use th:xlink:href="@{bootstrap/house-door-fill.svg}"></use>
                    </svg>
                    Xem thêm phòng trọ còn trống
                </a>
            </div>
            <hr class="mt-0">
            <div class="row g-3 g-lg-4">
                <div class="col-md-6 col-sm-12" th:each="room : ${roomRecentUpdate}">
                    <div class="row g-0 bg-body-secondary position-relative rounded-3 h-100 shadow">
                        <div class="col-md-6 mb-md-0 p-md-4 align-content-center">
                            <!-- <img src="https://placehold.co/300x200" class="w-100 rounded-3" alt=""> -->
                            <img th:src="@{/upload/{url}(url=${(not #sets.isEmpty(room.getRoomDetails())) ? room.getRoomDetails().iterator().next().getImageURL() : 'Không có URL'})}"
                                class="w-100 rounded-3" alt="">

                        </div>
                        <div class="col-md-6 p-4 ps-md-0">
                            <h5 class="mt-0 fw-bolder" th:text="${room.roomType}"></h5>
                            <p>Another instance of placeholder content for this other custom component.</p>
                            <a href="#" class="stretched-link">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-6 col-sm-12">
                    <div class="row g-0 bg-body-secondary position-relative rounded-3 h-100">
                        <div class="col-md-6 mb-md-0 p-md-4 align-content-center">
                            <img src="https://placehold.co/300x200" class="w-100 rounded-3" alt="...">
                        </div>
                        <div class="col-md-6 p-4 ps-md-0">
                            <h5 class="mt-0">Columns with stretched link</h5>
                            <p>Another instance of placeholder content for this other custom component. It is intended
                                to mimic what some real-world content would look like, and we’re using it here to give
                                the component a bit of body and size.</p>
                            <a href="#" class="stretched-link">Xem thêm</a>

                        </div>
                    </div>
                </div> -->
                <!--  -->
            </div>
        </div>

        <br><br><br class="mt-5">

        <div class="my-5" id="surrounding">
            <h1 class="mb-3 fw-bolder text-uppercase">về chúng tôi</h1>
            <hr class="mt-0">
            <div class="row g-3">
                <div class="col-md-6 col-sm-12">
                    <img th:src="@{images/background/surrounding-1.jpg}" class="w-100 rounded-5 shadow-lg">
                </div>
                <div class="row col-md-6 col-sm-12 g-2">
                    <div class="col-12">
                        <img th:src="@{images/background/surrounding-2.jpg}" class="w-100 rounded-5 shadow-lg">
                    </div>
                    <div class="col-6">
                        <img th:src="@{images/background/surrounding-3.jpg}" class="w-100 h-100 rounded-5 shadow-lg">
                    </div>
                    <div class="col-6">
                        <img th:src="@{images/background/surrounding-4.webp}" class="w-100 h-100 rounded-5 shadow-lg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- Agent -->
    <div class="w-100 p-5 bg-body-tertiary" id="our-agents">
        <div class="header">
            <section class="text-secondary text-uppercase text-center mb-3">chúng tôi có thể giúp bạn</section>
            <h1 class="text-uppercase text-center fw-bolder text-body-emphasis">người đóng góp - doanh nghiệp</h1>

            <div class="mx-auto mb-5 w-25" style="border: 2px solid #816248;"></div>

            <div class="container">
                <div id="agents-detail" class="row g-3">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class=" card rounded-5 border-0 shadow-lg p-3">
                            <section class="mx-auto mb-2">
                                <img class="rounded-circle" th:src="@{images/agents/HoangNguyen.webp}" width="130">
                            </section>
                            <section class="text-center" id="content">
                                <h5 class="fw-bolder">Hoàng Nguyên</h5>
                                <p class="text-secondary">Leader - Nhà Phát Triển</p>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class=" card rounded-5 border-0 shadow-lg p-3">
                            <section class="mx-auto mb-2">
                                <img class="rounded-circle" th:src="@{images/agents/ThuyTrinh.webp}" width="130">
                            </section>
                            <section class="text-center" id="content">
                                <h5 class="fw-bolder">Thùy Trinh</h5>
                                <p class="text-secondary">Chủ Trọ - Vận Hành</p>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class=" card rounded-5 border-0 shadow-lg p-3">
                            <section class="mx-auto mb-2">
                                <img class="rounded-circle" th:src="@{images/agents/HoangMinh.webp}" width="130">
                            </section>
                            <section class="text-center" id="content">
                                <h5 class="fw-bolder">Hoàng Minh</h5>
                                <p class="text-secondary">Thành Viên Phát Triển</p>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class=" card rounded-5 border-0 shadow-lg p-3">
                            <section class="mx-auto mb-2">
                                <img class="rounded-circle" th:src="@{images/agents/VinhKhanh.webp}" width="130">
                            </section>
                            <section class="text-center" id="content">
                                <h5 class="fw-bolder">Vĩnh Khánh</h5>
                                <p class="text-secondary">Thành Viên Phát Triển</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br> <br> <br>


    <div class="container">

    </div>
</main>

<script layout:fragment="script-block">
    AOS.init();
</script>

</html>