<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{shared/_layout}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">Trang chủ</title>
    <style>
        #banner {
            background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url(images/background/banner-room.jpg);
            height: 92vh;
            background-position: center;
            background-size: cover;

        }
    </style>
</head>

<main layout:fragment="main-block">
    <div class="w-100 d-flex align-items-center position-relative" id="banner">
        <div class="mx-3 mx-lg-auto ">
            <h1 class="fw-bolder text-uppercase"
                style="font-size: 5em; color: #c0a178; font-family: Arial, Helvetica, sans-serif;">
                Xin Chào
            </h1>
            <h4 class="text-light fw-bolder text-capitalize" style="font-size: 2em;">Chào mừng đến với website thuê
                phòng trọ</h4>
        </div>

        <div class="position-relative rounded-circle d-none d-xl-block" style="background-color: rgb(131, 79, 44); right: 150px;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;">
            <img th:src="@{images/background/house3d.png}" class="bg-transparent" width="700">
        </div>

    </div>
    <div class="container">

    </div>
</main>

</html>