<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    #abc {
        width: 500px;
        height: 400px;
        background-color: orangered;
        border-radius: 20px 50% 100px 50em;
    }
</style>

<body>
    <div id="abc"></div>
    <svg width="300" height="200">
        <path d="M x1 y1 C cx1 cy1, cx2 cy2, x2 y2 S sx sy, x3 y3 ... Z" stroke="red" stroke-width="2" />

    </svg>
</body>

</html>