<div layout:fragment="footer">
    <footer class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3"> <a href="/"
                    class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
                    aria-label="Bootstrap">
                    <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                        <use xlink:href="#bootstrap"></use>
                    </svg> </a>
                <p class="text-body-secondary">© 2025 - Được Phát Triển Bởi Nhóm AHIHI123</p>
            </div>
            <div class="col mb-3">

            </div>

        </div>
    </footer>
</div>