<header class="sticky-top" layout:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img width="100" th:src="@{/images/icons/ahihi-logo.png}" alt="Home">
            </a>
            <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <svg class="bi" width="16" height="16" fill="currentColor">
                    <use th:xlink:href="@{/bootstrap/three-dots.svg}" />
                </svg>

            </button>

            <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbar">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item nav-underline">
                            <a class="nav-link" th:classappend="${activePage == 'home'} ? 'active' : ''"
                                aria-current="${activePage == 'home'} ? 'page' : ''" th:href="@{/}">Trang Chủ</a>
                        </li>
                        <li class="nav-item nav-underline">
                            <a class="nav-link" th:href="@{/rent-room}"
                                th:classappend="${activePage == 'rent-room'} ? 'active' : ''"
                                aria-current="${activePage == 'rent-room'} ? 'page' : ''">Thuê Phòng</a>
                        </li>
                        <li class="nav-item nav-underline">
                            <a class="nav-link" th:href="@{/hoa-don}"
                                th:classappend="${activePage == 'hoa-don'} ? 'active' : ''"
                                aria-current="${activePage == 'hoa-don'} ? 'page' : ''">Tra cứu đơn</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav justify-content-end ms-auto gap-2">
                        <li class="nav-item nav-underline">
                            <a class="nav-link" th:href="@{/account/login}"
                                th:classappend="${activePage == 'login'} ? 'active' : ''"
                                aria-current="${activePage == 'login'} ? 'page' : ''">Đăng Nhập</a>
                        </li>
                        <li class="nav-item nav-underline">
                            <a class="nav-link" th:href="@{/account/register}"
                                th:classappend="${activePage == 'register'} ? 'active' : ''"
                                aria-current="${activePage == 'register'} ? 'page' : ''">Đăng Ký</a>
                        </li>
                        <!-- <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-secondary-emphasis"></div>
                            <hr class="d-lg-none my-2 text-white-50">
                        </li> -->
                        <!-- <li class="nav-item d-flex align-items-centers pe-4">
                            <div class="checkbox-wrapper-5 d-flex align-items-center">
                                <div class="check">
                                    <input id="check-5" type="checkbox" checked>
                                    <label class="bi bi-brightness-high-fill" for="check-5"></label>
                                </div>
                            </div>
                        </li> -->
                    </ul>

                    <!-- <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-success" type="submit">Search</button>
                    </form> -->
                </div>
            </div>
        </div>
    </nav>

</header>