<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{admin/base.html}">

<head>
    <title layout:title-pattern="$CONTENT_TITLE">Admin | Phòng trọ</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
    <textarea id="mytextarea">Hello, World!</textarea>
</head>

<div class="container-xxl" layout:fragment="admin-main-content">
    <a th:href="@{/admin}" class="btn btn-secondary mb-5">
        <svg class="bi me-2">
            <use th:xlink:href="@{/bootstrap/arrow-90deg-left.svg}"></use>
        </svg>
        Trở lại
    </a>

    <div class="d-flex align-items-center">
        <h1 class="text-uppercase fw-bolder">Phòng trọ</h1>
        <a th:href="@{/admin/room/create}" class="btn btn-primary ms-auto">
            <svg class="bi me-1">
                <use th:xlink:href="@{/bootstrap/plus-lg.svg}"></use>
            </svg>
            Thêm phòng
        </a>
    </div>
    <hr class="mt-0">
    <div class="overflow-x-auto mt-5">
        <table class="table table-hover" style="min-width: 50em ;">
            <thead>
                <tr>
                    <th scope="col">Mã phòng</th>
                    <th scope="col">Giá thuê</th>
                    <th scope="col">Kiểu phòng</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hoạt động</th>
                </tr>
            </thead>
            <tbody th:each="room : ${rooms}">
                <tr class="lh-lg">
                    <th th:text="${room.id}" scope="row"></th>
                    <td th:inline="text">
                        [[${#numbers.formatInteger(room.rentPrice, 0, 'POINT')}]]
                    </td>
                    <td th:text="${room.roomType}"></td>

                    <td th:text="${room.status.getContent()}"></td>
                    <td>
                        <a th:href="@{'/admin/room/' + ${room.id}}" class="btn btn-success">Xem</a>
                        <a th:href="@{/admin/room/update/{id}(id=${room.id})}" class="btn btn-warning">Sửa</a>
                        <a th:href="@{/admin/room/delete/{id}(id=${room.id})}" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



</html>